<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <h5>CLIENTES</h5>
            <p-toast></p-toast>
            
            <!--<p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Incluir" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>-->

            <p-table
             #dt 
            [value]="customers"
            [columns]="cols"
            responsiveLayout="scroll"
            [rows]="10"
            styleClass="p-datatable-sm"
            [globalFilterFields]="['customer.name','customer.cpf','customer.status']"
            [paginator]="true"
            [rowsPerPageOptions]="[10,20,30]"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Exibindo de {first} a {last} de {totalRecords} registros"
            [(selection)]="selectedProducts"
            selectionMode="multiple"
            [rowHover]="true"
            dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <button pButton pRipple label="Incluir" icon="pi pi-plus" class="p-button-primary mr-2" (click)="openNew()"></button>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Pesquisar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Data</th>
                        <th pSortableColumn="status">Situação <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">CPF</span>
                            {{customer.cpf}}
                        </td>
                        <td style="min-width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{customer.name}}
                        </td>
						<td>
							{{customer.date | date: 'dd/MM/yyyy'}}
						</td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Situação</span>
                            <span [class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
                        </td>
                        <td class="text-center">
                            <div class="text-center">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-outlined p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="8">Não foram encontros registros.</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="loadingbody">
					<tr>
						<td colspan="8">Carregando dados dos clientes. Aguarde!</td>
					</tr>
				</ng-template>                
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '60%'}" header="Detalhes do Cliente" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="cpf">CPF</label>
                        <input type="text" pInputText id="cpf" [(ngModel)]="customers.cpf" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.cpf}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.cpf">CPF é obrigatório.</small>
                    </div>
                    <div class="field col-12 md:col-8">
                        <label for="name">Nome</label>
                        <input type="text" pInputText id="name" [(ngModel)]="customers.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.name">Nome é obrigatório</small>
                    </div>
                    <div class="field col-12 md:col-3 m-0">
                        <label htmlFor="cep">CEP</label>
                        <p-inputGroup>
                            <input type="text" pInputText id="cep" [(ngModel)]="customers.cep" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.cep}" />
                            <button type="button" pButton icon="pi pi-search" label=""></button>
                            <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.cep">Cep é obrigatório</small>                            
                        </p-inputGroup>
                    </div>
                    <div class="field col-12 md:col-9">
                        <label for="endereco">Endereço</label>
                        <input type="text" pInputText id="endereco" [(ngModel)]="customers.endereco" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.endereco}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.endereco">Endereço é obrigatório</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="cidade">Cidade</label>
                        <input type="text" pInputText id="cidade" [(ngModel)]="customers.cidade" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.cidade}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.cidade">Cidade é obrigatório</small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="estado">Estado</label>
                        <input type="text" pInputText id="estado" [(ngModel)]="customers.estado" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.estado}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.estado">Estado é obrigatório</small>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="estado">UF</label>
                        <p-dropdown [(ngModel)]="customers.uf" [options]="dropdownItemsUf" optionLabel="name" [(ngModel)]="selectedUf" [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.uf}">
                        </p-dropdown>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.uf">UF é obrigatório</small>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="estado">Nascimento</label>
                        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="celular">Celular</label>
                        <input type="text" pInputText id="celular" [(ngModel)]="customers.celular" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !customers.celular}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !customers.estado">Estado é obrigatório</small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-warning" (click)="hideDialog()"></button>                
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
